NUXT_PUBLIC_SUPABASE_URL=https://your-project.supabase.co
NUXT_PUBLIC_SUPABASE_KEY=your-anon-key

SUPABASE_SERVICE_ROLE_KEY=
XENDIT_SECRET_KEY=
XENDIT_WEBHOOK_TOKEN=
GEMINI_API_KEY=
RESEND_API_KEY=
CRON_SECRET=
JASTIPER_INVITE_CODE=
